:root {
  /* Warna Dasar */
  --bg-main: rgba(17, 17, 17, 1);
  --bg-secondary: rgba(37, 37, 37, 1);
  --fg-main: rgba(255, 255, 255, 1);
  --fg-secondary: rgba(85, 85, 85, 1);
  
  /* Warna Aksen */
  --green: rgba(0, 255, 0, 1);
  --red: rgba(255, 0, 0, 1);
  --yellow: rgba(255, 255, 0, 1);

  /* Variabel Gradasi yang Sudah Tersambung */
  --linear-l: linear-gradient(270deg, var(--bg-secondary) 0%, transparent 100%);
  --linear-r: linear-gradient(90deg, var(--bg-secondary) 0%, transparent 100%);
  --linear-b: linear-gradient(180deg, transparent 0%, var(--bg-secondary) 100%);
  --linear-t: linear-gradient(180deg,var(--bg-secondary) 10%,transparent 100%);
  --linear-lr: linear-gradient(90deg, transparent 0%, var(--bg-secondary) 50%, transparent 100%); 
  --conic-gradient: conic-gradient(from 0deg at 50% 50%, transparent 25%, var(--bg-secondary) 50%, transparent 75%, var(--bg-secondary) 100%);

  --body-base-font-family: "Inter", Helvetica;
  --body-base-font-weight: 400;
  --body-base-font-size: 16px;
  --body-base-letter-spacing: 0px;
  --body-base-line-height: 139.9999976158142%;
  --body-base-font-style: normal;
  --size-space-200: 8px;
  --size-space-150: 6px;
  --size-radius-200: 8px;
  --typography-primitives-scale-06: 32px;
  --color-background-default-default-hover: var(--color-primitives-gray-100);
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-background-default-secondary: var(--color-primitives-gray-100);
  --color-border-default-default: var(--color-primitives-gray-300);
  --color-primitives-gray-100: rgba(245, 245, 245, 1);
  --color-primitives-gray-700: rgba(56, 56, 56, 1);
  --color-primitives-gray-900: rgba(30, 30, 30, 1);
  --color-primitives-white-1000: rgba(255, 255, 255, 1);
  --color-primitives-gray-800: rgba(44, 44, 44, 1);
  --color-primitives-gray-300: rgba(217, 217, 217, 1);
  --color-primitives-gray-600: rgba(68, 68, 68, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-color-mode="SDS-light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-color-mode="SDS-light"] {
  --color-background-default-default-hover: var(--color-primitives-gray-100);
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-background-default-secondary: var(--color-primitives-gray-100);
  --color-border-default-default: var(--color-primitives-gray-300);
}

[data-color-mode="SDS-dark"] {
  --color-background-default-default-hover: var(--color-primitives-gray-700);
  --color-text-default-default: var(--color-primitives-white-1000);
  --color-background-default-secondary: var(--color-primitives-gray-800);
  --color-border-default-default: var(--color-primitives-gray-600);
}
